<div class="bg-light p-5 rounded-lg m-3">>
  <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Perferendis neque, facilis architecto aut laborum non in reprehenderit
    maiores vitae? Facere sequi sit dolorum perferendis rerum maxime culpa, qui
    quisquam excepturi.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cum
    tempore possimus mollitia, qui vitae totam consequatur voluptates, fuga est
    dolores corporis ex unde. Et praesentium iusto quasi magnam nesciunt.</p>
  <a href="google.com" class="btn btn-primary btn-lg">Google</a>
</div>